<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header class="header">
        <img src="../style/photo/pic_28.png" alt="profil picture" class="picture" id="pic">
        <div class="titles">
        <h1 class="title">Bienvenue sur ma page <br> personnelle</h1>
    <h4 class="texte">Je suis en ... et j'apprends le HTML et le CSS.</h4>
</div>
</header>

    <section class="page_without_extensions"> 
        
        <nav class="menu">
            <h3>Menu</h3>
            <a href="index.html">Accueil</a>
            <a href="CV.html">Mon CV</a>
            <a href="projects.html">Mes projets</a>
            <a href="register.html">Inscrivez-vous</a>
            <a href="contact.html">Contactez-moi</a>
        </nav> 
        
    <form class="content form" id="register_form">
        <h2>Contactez-moi</h2>
        <div class="form_line">
            <label for="lastname" class="label"> Nom :</label>
            <input type="text" placeholder="Saisir votre nom">
        </div>
        <div class="form_line">
            <label for="firstname" class="label"> Prénom :</label>
            <input type="text" placeholder="Saisir votre prénom">
        </div>
        <div class="form_line">
            <label for="phone_number" class="label"> Numéro de téléphone :</label>
            <input type="tel">
        </div>
        <div class="form_line">
            <label for="email" class="label"> Email :</label>
            <input type="email">
        </div>
        <div class="form_line">
            <label for="message" class="label"> Message :</label>
            <input type="textarea">
        </div>
        <div class="form_line">
            <button class="btn" type="button"> Envoyer </button>
            <button class="btn" type="button"> Réinitialiser </button>
        </div>
    </form>
</section>
    <footer>
        <p>
            copyright(c) 2022 <a href="https://simplon-grenoble.com/">CDA-Fullstack</a>
        </p>
    </footer>
    
</body>
</html>