<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header class="header">
        <div class="flex">
            <img src="../style/photo/pic_28.png" alt="profil picture" class="picture" id="pic">
            <h1 class="title">Bienvenue sur ma page <br> personnelle</h1>
        </div>
        <h2 class="texte">Je suis en ... et j'apprends le HTML et le CSS.</h2>
    </header>

    <section class="page_without_extensions"> 

    <nav class="menu">   
        <h3>Menu</h3>
        <a href="../index.html">Accueil</a>
        <a href="CV.html">Mon CV</a>
        <a href="projects.html">Mes projets</a>
        <a href="register.html">Inscrivez-vous</a>
        <a href="contact.html">Contactez-moi</a>
    </nav> 

    <div class="cv_page">
    <h2> Mon CV </h2>

    <div id="presentation"> 
        <h4>Présentation </h4>
    </div>
        <section id="cv_section">
            <aside class="cv_aside" id="skills">
                <h4>Compétences</h4>
            </aside>
            <aside class="cv_aside" id="cv_right">
                <div id="education">
                    <h4>Formation</h4>
                    <p></p>
                </div>
                <div id="work_experience">
                    <h4>Expérience professionnelle</h4>
                </div>
                <div id="hobby">
                    <h4>Loisirs</h4>
                </div>
        </aside>
        </section>
        </div>
        </section>

        <footer>
            <p>
                copyright(c) 2022 <a href="https://simplon-grenoble.com/">CDA-FUllstack</a>
            </p>
        </footer>
        
</body>
</html>