<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>

    <div class="cv_page">
    <h2> Mon CV </h2>

    <div id="presentation"> 
        <h4>Présentation </h4>
    </div>
        <section id="cv_section">
            <aside class="cv_aside" id="skills">
                <h4>Compétences</h4>
            </aside>
            <aside class="cv_aside" id="cv_right">
                <div id="education">
                    <h4>Formation</h4>
                    <p></p>
                </div>
                <div id="work_experience">
                    <h4>Expérience professionnelle</h4>
                </div>
                <div id="hobby">
                    <h4>Loisirs</h4>
                </div>
        </aside>
        </section>
        </div>
        
</body>
</html>