<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header class="header">
        <img src="../style/photo/pic_28.png" alt="profil picture" class="picture" id="pic">
        <div class="titles">
            <h1 class="title">Bienvenue sur ma page <br> personnelle</h1>
            <h4 class="texte">Je suis en ... et j'apprends le HTML et le CSS.</h4>
        </div>
    </header>


    <section class="page_without_extensions">

        <nav class="menu">
            <h3>Menu</h3>
            <a href="index.html">Accueil</a>
            <a href="CV.html">Mon CV</a>
            <a href="projects.html">Mes projets</a>
            <a href="register.html">Inscrivez-vous</a>
            <a href="contact.html">Contactez-moi</a>
        </nav>

        <div class="cv">
            <div class="cv_page">
                <h2> Mon CV </h2>
    
                <div id="presentation">
                    <h5>Présentation </h5>
                </div>
                <section id="cv_section">
                    <aside class="cv_aside" id="skills">
                        <h5>Compétences</h5>
                    </aside>
                    <aside class="cv_aside" id="cv_right">
                        <div id="education">
                            <h5>Formation</h5>
                            <p></p>
                        </div>
                        <div id="work_experience">
                            <h5>Expérience professionnelle</h5>
                        </div>
                        <div id="hobby">
                            <h5>Loisirs</h5>
                        </div>
                    </aside>
                </section>
            </div>
        </div>
    </section>

    <footer>
        <p>
            copyright(c) 2022 <a href="https://simplon-grenoble.com/">CDA-Fullstack</a>
        </p>
    </footer>

</body>

</html>