<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'acueil</title>
    <link rel="stylesheet" href="../style/style.css">

</head>

<body>
    <header class="header">
        <img src="../style/photo/pic_28.png" alt="profil picture" class="picture" id="pic">
        <div class="titles">
            <h1 class="title">Bienvenue sur ma page personnelle</h1>
            <h4 class="text">Je suis en formation et j'apprends le HTML et le CSS.</h4>
        </div>
    </header>

    <section class="page_without_extensions">
  
        <nav class="menu">  
            <div id="menu1"> 
                <h3>Menu</h3>
                <a href="index.html">Accueil</a>
                <a href="CV.html">Mon CV</a>
            </div>
            <div id="menu2">
                <a href="projects.html">Mes projets</a>
                <a href="register.html">Inscrivez-vous</a>
                <a href="contact.html">Contactez-moi</a>
            </div>
        </nav>

        <section class="section">
            <div class="paragraph">
                <h2>
                    A propos de moi
                </h2>
                <p>J'apprends la conception et le développement d'applications à Simplon-co.
                    Je compte devenir un super héros en développement backend et frontend.</p>
            </div>

            <div class="paragraph">
                <h2>
                    A propos de mon site
                </h2>
                <p>
                    Vous allez découvrir tout sur moi, sur mes passions et mes projets.
                </p>
            </div>

            <div class="paragraph">
                <h2> Je vous souhaite une bonne visite</h2>
                <p>Toutes les remarques et suggestions pour améliorer mon site et rendre sa visite plus agréable sont les bienvenues </p>
            </div>
        
    </section>

    <footer>
        <p>
            copyright(c) 2022 <a id="simplonLink" href="https://simplon-grenoble.com/">Simplon</a>
        </p>
    </footer>

</body>

</html>