<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <header class="header">
        <img src="../style/photo/pic_28.png" alt="profil picture" class="picture" id="pic">
        <div class="titles">
            <h1 class="title">Bienvenue sur ma page <br> personnelle</h1>
            <h4 class="texte">Je suis en formation et j'apprends le HTML et le CSS.</h4>
        </div>
    </header>

    <section class="page_without_extensions">

        <nav class="menu">
            <h3>Menu</h3>
            <a href="index.html">Accueil</a>
            <a href="CV.html">Mon CV</a>
            <a href="projects.html">Mes projets</a>
            <a href="register.html">Inscrivez-vous</a>
            <a href="contact.html">Contactez-moi</a>
        </nav>

        <div class="content projects-page">
            <b><u>
                    <h2 class="project">Mes projects</h2>
                </u></b>

            <div class="l_1">
                <div class="btn_project" id="cadre1">
                    <p id="titre_project"><b><u>Project1</u></b></p>
                        <div>
                            <span>le bonheur de nos animaux : <br/></span>
                            Realiser une aplication de gestion de carnet de
                            santé des animaux domestiques pour les vetérinaires
                        </div>
                </div>
        
                    <div class="btn_project" id="cadre2">
                        <p id="titre_project"><b><u>Project2</u></b></p>
                        <div>
                            Realiser une aplication appelée <br/>page personelle pour visualiser mon cv
                        </div>
                    </div>
            </div>

            <div class="l_2">
                <div class="btn_project" id="cadre3">
                    <p id="titre_project"><b><u>Project3</u></b></p>
                    <div>
                        <span>Passez vos commande <br/></span>
                        realiser un application permettant de composer une commande auprès
                        d'un restaurant.
                    </div>
                </div>
        
                    <div class="btn_project" id="cadre4">
                        <p id="titre_project"><b><u>Project4</u></b></p>
                        <div>
                            Une fois les connaissances de super heros acquises ,j'aimerais integrer
                            une Entrepise afin de les mettre en partique.
                        </div> 
                    </div>
            </div>

        </div>
    </section>

    <footer>
        <p>
            copyright(c) 2022 <a href="https://simplon-grenoble.com/">CDA-FUllstack</a>
        </p>
    </footer>
</body>

</html>