<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <form class="form" id="register_form">
        <h2>Inscription</h2>
        <div class="form_line">
            <label for="lastname" class="label"> Nom :</label>
            <input type="text" placeholder="Saisir votre nom">
        </div>
        <div class="form_line">
            <label for="firstname" class="label"> Prénom :</label>
            <input type="text" placeholder="Saisir votre prénom">
        </div>
        <div class="form_line">
            <label for="sex" class="label"> Sexe :</label>
            <input class="radio" type="radio" id="F" name="sexe">
            <label for="sex"> F</label>
            <input class="radio" type="radio" id="M" name="sexe">
            <label for="sex"> M </label>
        </div>
        <div class="form_line">
            <label for="birthdate" class="label"> Date de naissance :</label>
            <input type="date">
        </div>
        <div class="form_line">
            <label for="time" class="label"> Heure :</label>
            <input type="time">
        </div>
        <div class="form_line">
            <label for="phone_number" class="label"> Numéro de téléphone :</label>
            <input type="tel">
        </div>
        <div class="form_line">
            <label for="email" class="label"> Email :</label>
            <input type="email">
        </div>
        <div class="form_line">
            <label for="color" class="label"> Couleur favorite :</label>
            <input type="color">
        </div>
        <div class="form_line">
            <button class="btn" type="button"> Envoyer </button>
            <button class="btn" type="button"> Réinitialiser </button>
        </div>
    </form>
</body>
</html>